@font-face {
  font-family: crimsonroman;
  src:url("crimson-roman-webfont.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: cabin;
  src:url("Cabin-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

body
{
  font-family: crimsonroman;
    margin:0;
    padding:0;
}

.register
{
    height:150vh;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/email.jpeg);
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: cabin, sans-serif;
}

h1
{
  font-family: cabin;
    text-align:center;
    color: #fff;
    margin-bottom:30px;
    font-size:45px;
}

span
{
    color: #f44336;
}

/* Full-width input fields */
  input[type=text], input[type=password] 
  {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus 
{
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button 
{
  font-family: cabin;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover 
{
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn 
{
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn 
{
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.form-box
{
    background: rgba(255,255,255,0.5);
    padding: 30px 50px;
}

/* Clear floats */
.clearfix::after 
{
  content: "";
  clear: both;
  display: table;
}




