<body>
		<div class="aboutImage">
			<div class="about">
			{{!-- <div class="row"> --}}
				<!-- Post Content Column -->
				<div class="col-lg-8" style="align-content: center">
					<!-- Title -->
					
					<h1 class="span-gold" style="font-size: 52px">About Us</h1>
					<div class="pad">
					</div>
					<hr>
					<!-- Post Content -->
					<h1 style="color: #ffc627; font-size: 36px">Who We Are</h1>
					<p>
						ASU’s campus is full of creative, talented individuals who are constantly looking to make an imprint on society. There is a reason we are consistently ranked  #1 in innovation (ahead of Stanford and MIT). The best way for our fellow students to make this imprint is through entrepreneurship.
						The state of Arizona is filled with companies and businesses both large and small that were founded by Sun Devils.
						But entrepreneurship is not easy, otherwise everyone would pursue it.
					</p>
					<p>
						Other than raising funds, the primary roadblock in starting one’s own business is finding people to go into business with.
						Some people are lucky and have friends with similar interests that share a singular vision for a new business,
						but what if you are not one of these people? That’s where we come in! ASU Student solutions is a
						one-stop resource for ASU students looking to start their own businesses. We aim to help students who have an
						idea and need to fill out roles in these prospective companies, as well as those looking to join existing projects.
					</p>
					<hr>
					<h1 style="color: #ffc627; font-size: 36px">How it Works</h1>
					<p>
						Here are the basics. Project leads create an owner profile for their idea and then submit it. This profile provides a description
						of the prospective business as well as positions that need to be filled. Students looking to be team members fill out employee profiles,
						which include resumes and contact information. Owners can then use our keyword-based sorting system to find suitable candidates among these
						employee profiles. Profiles are sorted into specific categories, such as marketing, finance, software design, etc. For instance, if someone is a programmer, they indicate this in their profile. They can specify if they are interested in software programming, game programming, or both.
					</p>
					<p>
						Here is an example of how it works: someone wants to start a video game studio. They will need programmers, artists, designers, and more. Using our database, they can search specifically for students who specialize in game development. Students looking to join a game company will indicate in their profile that they specialize in game development, and what role they can fill. Contact information is provided so the two sides can interact and get started on the path to achieving their dreams.
					</p>
					<hr>
					<!-- Bootstrap core JavaScript -->
					<script src="vendor/jquery/jquery.min.js"></script>
					<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>