<body>
	<div class="page-setting">
	<!-- Page Content -->
		<div class="Bimage">
			<div class="page-setting">
			<div class="row">
				<!-- Post Content Column -->
				<div class="col-lg-8">
					<!-- Post Content -->
					<div class="form-box">
						<div class="form-block">
							<h1 style="font-size: 36px">More Information</h1>
							<p>
								Our profiles provide users with detailed overviews of each other. You can see their relevant skills, education and employment history
								and contact information so you can get connected.
							</p>
						</div>
					</div>
				</div>
				<!-- Bootstrap core JavaScript -->
				<script src="vendor/jquery/jquery.min.js"></script>
				<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
			</div>
		</div>
	</div>
</body>