<body>
	<!-- Page Content -->
	<div class="searchImage">
		<div class="page-setting">
		<div class="row">
			<!-- Post Content Column -->
			{{!-- <div class="col-lg-8"> --}}
				<!-- Title -->
				<h1 style="color: #FFC627; font-size: 52px"></h1>
				<!-- Author -->
				<p style="color: #000000">
				<!-- Post Content -->
				<div class="form-box">
					<div class="form-block">
				<h1 style="color: #ffc627; font-size: 36px">More Information</h1>
				<p>
					Ready to  start your business? Create a profile for your company. This profile states your company name, type, a description of your vision for it,
					and a list of positions you will need to fill. Users can view these postings and submit their information for consideration.
				</p>
				</div>
				</div>
		<!-- Bootstrap core JavaScript -->
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
