<body>
	<div class="page-setting">
	<!-- Page Content -->
		<div class="Bimage">
			<div class="about">
				<div class="row">
				<!-- Post Content Column -->
					<div class="col-lg-8">
					<!-- Post Content -->
						<div class="form-block">
							<h1 style="font-size: 36px">More Information</h1>
							<ul class="infoList">
								<li>Our profiles provide users with detailed overviews of each other. You can see their relevant skills, education and employment history
								and contact information so you can get connected.</li>
								<li>Ready to  start your business? Create a profile for your company. This profile states your company name, type, a description of your vision for it,
								and a list of positions you will need to fill. Users can view these postings and submit their information for consideration.</li>
								<li>Using our database, you can search for talent to fill out your company. The database is keyword-based and divided into categories.
								Whether you need a graphic designer, accountants, software engineers, etc, we'll help you find the people you need. You can also search
								job postings and find a team to join.</li>
							</ul>
							<div class="pad"></div>
						</div>
					</div>
				</div>
				<!-- Bootstrap core JavaScript -->
				<script src="vendor/jquery/jquery.min.js"></script>
				<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
			</div>
		</div>
	</div>
</body>