<body>
<!-- Page Content -->
<div class="posting" align="center">
		<form>
      <h1>Create a job posting!</h1>
			<h1 class="span-red"><span>Please fill in this form to create a job post.</span></h1>
				<div class="form-box">
          <div class="form-block">
            <label for="postTitle"><b>Job Posting Title</b></label>
            <input type="text" placeholder="Seeking Web Developer" name="postTitle" required>

            <label for="location"><b>Location</b></label>
            <input type="text" placeholder="Tempe,AZ" name="location" required>

			<label for="compensation"><b>Compensation</b></label>
			<input type="text" placeholder="$500" name="compensation" required>
			
            <label for="description"><b>Describe the Job</b></label>
            <input type="text" placeholder="I need a Web Developer..." name="description" required>
        
            <label for="keywords"><b>Keywords</b></label>
            <input type="text" placeholder="HTML, CSS, JavaScript..." name="keywords" required>
        
            <p>By creating a posting you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
				</div>
        </div>
	<div class="page-setting">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="postbtn">Post Job</button>
  </div>
    </form>
</div>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>