	<!-- Page Content -->
<div class="profile">
	<form action="/student" method="POST">
  		<h1 class="span-gold">Create your profile.</h1>

  		<div class="form-box">
			  <div class="form-block">
			<!-- <label for="fileupload"> Upload your Resume.</label>
			<br><input type="file" name="fileupload" value="fileupload" id="fileupload">
			<button type="button" class="submit">Upload</button> -->
			<br>
			<br>
			<label for="first"><b>First Name</b></label>
			<input type="text" placeholder="Enter First Name" name="firstname" required>

			<label for="last"><b>Last Name</b></label>
			<input type="text" placeholder="Enter Last Name" name="lastname" required>

			<label for="email"><b>Email</b></label>
			<input type="text" placeholder="Enter Email" name="email" required>

			<label for="location"><b>Location</b></label>
			<input type="text" placeholder="Tempe, AZ" name="location" required>

			<label for="skills"><b>Skills</b></label>
			<input type="text" placeholder="Java, HTML, JavaScript..." name="skills" required>

		</div>
		</div>
		<div class="clearfix">
			<button type="button" class="cancelbtn">Cancel</button>
			<button type="submit" class="signupbtn">Update Profile</button>
		</div>
	</form>
</div>
		<!-- Bootstrap core JavaScript -->
		<script src="public/jquery/jquery.min.js"></script>
		<script src="public/bootstrap/js/bootstrap.min.js"></script>
