<body>
	<!-- Page Content -->
	<div class="searchInfoImage">
		<div class="page-setting">
		<div class="row">
			<!-- Post Content Column -->
			{{!-- <div class="col-lg-8"> --}}
				<!-- Title -->
				<h1 style="color: #FFC627; font-size: 52px"></h1>
				<!-- Author -->
				<p style="color: #000000">
				</p>
				<!-- Post Content -->
				<div class="form-box">
					<div class="form-block">
				<h1 style="color: #ffc627; font-size: 36px">More Information</h1>
				<p>
					Using our database, you can search for talent to fill out your company. The database is keyword-based and divided into categories.
					Whether you need a graphic designer, accountants, software engineers, etc, we'll help you find the people you need. You can also search
					job postings and find a team to join.
				</p>
				</div>
				</div>
		<!-- Bootstrap core JavaScript -->
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>