<body>
	<!-- Page Content -->
	<div class="search">
		<form action="http://localhost:8080/example" method="POST">
			<h1 class="span-red">Find The Perfect <span>Freelancer</span> For <span>Your Business</span> Beginnings</h1>
				<div class="form-box">
				<input class="search-field skills" name="search" type="text" placeholder="Skills, Keywords..."/>	
				
				<input class="search-field location" name="location" type="text" placeholder="Location"/>
			
					<button class="search-btn" type="button">Search</button>
			</div>
		</form>
		</div>
		<!-- Bootstrap core JavaScript -->
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	</body>