<body>
	<!-- Page Content -->
	<div class="search">
		<form action="/findSomeStudents" method="GET">
			<h1 class="span-gold">Find The Perfect <span>Freelancer</span> For <span>Your Business</span> Beginnings</h1>
				<div class="form-box">
				<input class="search-field skills" name="search" type="text" placeholder="Skills, Keywords..."/>


					<button class="search-btn" type="button" formaction="/findSomeStudents">Search</button>
			</div>
		</form>
		</div>
		<!-- Bootstrap core JavaScript -->
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	</body>
